{% extends "core/_base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block header %}
    <a href="{% url 'course_list' %}">Courses</a> <span class="delimiter">/</span> {{ course.title }}
{% endblock %}
{% block content %}
    <p>{{ course.description }}</p>
    <p><strong>Organiser:</strong>
            {{ course.owner.first_name }} {{ course.owner.last_name }}
            &lt;<a href="mailto:{{ course.owner.email }}">{{ course.owner.email }}</a>&gt;
    </p>
    <p><strong>Starts:</strong> {{ course.start_date }}</p>
    <p><strong>Ends:</strong> {{ course.end_date }}</p>
    <p><strong>Seats Available:</strong> {{ course.seats_available }} of {{ course.max_seats }}</p>


    <a href="{% url 'course_list' %}">Back to the list</a>

{% endblock %}

