{% extends "core/_base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block header %}
    {% if request.user.is_authenticated %}
        Welcome, {{ request.user.username }}!
    {% else %}
        Welcome!
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

        {% if request.user.is_student %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Student</h5>
                    <p class="card-text">You are in the Students group.</p>
                    <a href="{% url 'student_home' %}" class="btn btn-primary">Proceed the Student Portal</a>
                </div>
            </div>
        {% endif %}
        {% if request.user.is_student %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Teacher</h5>
                    <p class="card-text">You are in the Teachers group.</p>
                    <a href="{% url 'teacher_home' %}" class="btn btn-primary">Proceed the Teachers Portal</a>
                </div>
            </div>
        {% endif %}

        {% if not request.user.is_student and not request.user.is_teacher %}
            <div class="alert alert-warning" role="alert">
                You are not in any group. Please contact the administrator.
            </div>
        {% endif %}

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">logout</button>
        </form>

    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> to see your courses.</p>
        <p>Alternatively, you can browse the <a href="{% url 'course_list' %}">available courses</a>.</p>
    {% endif %}
{% endblock %}

