{% extends "core/_base.html" %}
{% block title %}My Profile{% endblock %}

{% block header %}My Profile{% endblock %}

{% block content %}

<table class="table">
  <tbody>
    <tr>
      <th scope="row">First name</th>
      <td>{{ request.user.first_name }}</td>
    </tr>
    <tr>
      <th scope="row">Last name</th>
      <td>{{ request.user.last_name }}</td>
    </tr>
    <tr>
      <th scope="row">E-mail</th>
      <td>{{ request.user.email }}</td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td>{{ request.user.username }}</td>
    </tr>
    <tr>
        <th scope="row">Groups</th>
        <td>
            {% for group in request.user.groups.all %}
                {%  if group.name == 'Teachers' %}
                    <span class="badge bg-primary">
                        {{ group.name }}
                    </span>
                {% elif group.name == 'Students' %}
                    <span class="badge bg-success">
                        {{ group.name }}
                    </span>
                {% endif %}
            {% endfor %}

            {% if request.user.is_staff %}
                <span class="badge bg-info">
                    Staff
                </span>
            {% endif %}

            {% if request.user.is_superuser %}
                <span class="badge bg-danger">
                    Superuser
                </span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Date joined</th>
        <td>{{ request.user.date_joined }}</td>
    </tr>
  </tbody>
</table>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">logout</button>
</form>
{% endblock %}
